<div class="col-md-2 column">
    <div class="panel-group" id="panel-349889"><!--  panel panel-primary -->
        <div class="panel panel-default">
            <div class="panel-heading ">
                 <h3 class="panel-title glyphicon glyphicon-pushpin"><a class="panel-title" data-toggle="collapse" data-parent="#panel-349889" href="#panel-element-290449">系统初始化</a></h3>
            </div>
            <div id="panel-element-290449" class="panel-collapse collapse in">
                <div class="panel-body in">
                    <p><a href="/auto/" >安装系统</a></p>
{#                    <p><a href="/auto/init/" >未进行初始化的主机</a></p>#}
                    <p><a href="/auto/setup/" >配置推送</a></p>
{#                    <p><a href="/auto/sls/" >批量安装服务</a></p>#}
                </div>
            </div>
        </div>
    </div>
</div>




