<!DOCTYPE html>
<html>
<head>
	<title>运维管理系统</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<!-- Bootstrap -->
	<link href="/static/css/bootstrap.min.css" rel="stylesheet">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<![endif]-->




		<script type="text/javascript" charset="utf-8">
		window.UEDITOR_HOME_URL = "/static/js/ueditor/";
		</script>

		<script type="text/javascript" charset="utf-8" src="/static/js/ueditor/editor_config.js"></script>
		<script type="text/javascript" charset="utf-8" src="/static/js/ueditor/editor_all_min.js"></script>
		<link rel="stylesheet" type="text/css" href="/static/js/ueditor/themes/default/ueditor.css"/>
		<script type="text/javascript" charset="utf-8" src="/static/js/jquery.js"></script>
		<script type="text/javascript" charset="utf-8" src="/static/js/bootstrap.min.js"></script>

		<style>
		.xdsoft{padding-top:14px;}
		</style>
	</head>
	<body>
		<div class="container">
			<div class="row clearfix">
				<div class="col-md-12 column">
					<div class="jumbotron">
						<pre>
							<h1>403</h1>
							<h3>
								hello~你无权限使用哦
							</h3>

							<p>
								您无权限使用自动化运维管理系统，如需要本系统权限，请找相关领导开通
							</p>








						</pre>
					</div>
				</div>
			</div>
		</div>
	</body>
	</html>