<div class="col-md-10 column">
    <div class="tabbable" id="tabs-60113">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#panel-469468" data-toggle="tab">Section 1</a>
            </li>
            <li>
                <a href="#panel-340214" data-toggle="tab">Section 2</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="panel-469468">
                <p>
                    I'm in Section 1.
                </p>
            </div>
            <div class="tab-pane" id="panel-340214">
                <p>
                    Howdy, I'm in Section 2.
                </p>
            </div>
        </div>
    </div>
</div>