<div class="col-md-2 column">
    <div class="panel-group" id="panel-349889"><!--  panel panel-primary -->
        <div class="panel panel-default">
            <div class="panel-heading">
                 <h3 class="panel-title"><a class="panel-title" data-toggle="collapse" data-parent="#panel-349889" href="#panel-element-290449">主机列表</a></h3>
            </div>
            <div id="panel-element-290449" class="panel-collapse collapse in">
                <div class="panel-body">
                    <p><a href="/op/" >报障</a></p>
                    <a href="/op/list/" >故障列表</a></br>
                </div>
            </div>
        </div>
    </div>
</div>




