
<!-- Mainly scripts -->
<script src="/static/new/js/jquery-2.1.1.js"></script>

<script src="/static/new/js/bootstrap.min.js"></script>
<script src="/static/new/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="/static/new/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>


<!-- Custom and plugin javascript -->
<script src="/static/new/js/inspinia.js"></script>
<script src="/static/new/js/plugins/pace/pace.min.js"></script>


<!-- SUMMERNOTE -->
<script src="/static/new/js/plugins/summernote/summernote.min.js"></script>

<!-- Peity -->
<script src="/static/new/js/plugins/peity/jquery.peity.min.js"></script>
<script src="/static/new/js/demo/peity-demo.js"></script>
<script src="/static/js/jquery.colorbox.js"></script>

<script type="text/javascript" src="/static/js/from_js/jquery.validVal.js"></script>

<script type="text/javascript" src="/static/js/from_js/zh_CN.js"></script>


<script type="text/javascript" src="/static/layer/layer.min.js"></script>

<!-- Ztree -->
<script src="/static/new/js/ztree/jquery.ztree.core-3.5.min.js"></script>

<script src="/static/js/fun.js"></script>

<!-- base js -->
<script src="/static/js/base.js"></script>

<!-- jquery cookie -->
<script src="/static/js/jquery.cookie.js"></script>
